<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>

    <!-- mybatis全局设置 -->
    <settings>
        <!--每一个setting代表一个设置-->
        <!--使用数据库自增id-->
        <!--对于支持自动生成记录主键的数据库 设置为true之后 可以获取到数据库自动生成的主键ID-->
        <setting name="useGeneratedKeys" value="true" />
        <!--使用列标签代替列名称-->
        <setting name="useColumnLabel" value="true" />

        <!-- 使用驼峰命名规范-->
        <setting name="mapUnderscoreToCamelCase" value="true" />
    </settings>

</configuration>